body{
    background-image: url(../images/Eeveelutions_e66139_2959036.gif);
    background-repeat: repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
};

li{
    margin: 10px;
};

#header{
    margin-bottom: 10%;

}